* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
