.slide-list .active {
  animation: slideMove 0.5s forwards;
}

@keyframes slideMove {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(-500px, 0px, 0px);
  }
}
